.main_control {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.main_results {
  margin-left: 30%;
}
.buying_title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.currence_all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
